div {
  border: 1px solid grey;
  margin: 5px;
  padding: 5px;
}

.FloorPlan {
  background-color: #001484;
}

.Bath {
  background-color: #32cbff;
}

.Bed {
  background-color: #93e1d8;
}

.LivingRoom {
  background-color: #89a1ef;
}

.Kitchen {
  background-color: #ffc971;
}

.Sink {
  background-color: #2a9d8f;
}

.Oven {
  background-color: #e76f51;
}